.form-help-client {
    background-color: $dark-blue;
    color: $white;
    padding: 3rem 2rem;
    h1 {
        margin-bottom: 1rem;
    }
    p {
        color: #577096;
        font-size: 12px;
    }
}