.header {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 16%;
    padding-right: 16%;
    background-color: $light-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-blue;
}