.dropdown-content {
    display: none;
    position: absolute;
    background-color: $white;
    color: $medium-blue;
    z-index: 1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    margin-left: 10px;
    border-radius: 10px;
}

.dropdown-content li {
    color: $medium-blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 12px 25px;
    font-size: 13px;

}

/* Dropdown Button */
.dropbtn {
    background-color: $medium-blue;
    color: $white;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 12px 25px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}


.show {
    display: block;
}
